{% extends "layout2.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
   <tbody>
            {% for row in rows %}
                {% if row.total_shares != 0 %}
            <tr>
                <td class="text-start">{{ row.symbol }}</td>
                <td class="text-start">{{ row.name }}</td>
                <td class="text-end">{{ row.total_shares }}</td>
                <td class="text-end">{{ row.price | usd }}</td>
                <td class="text-end">{{ row.total | usd }}</td>
            </tr>
                {% endif %}
            {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end">{{cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end">{{ TOTAL | usd}}</td>
        </tr>
    </tfoot>
</table>


{% endblock %}